<tbody class="runnnin">
  <div class="container">
    <div style="width: auto; height: auto;">
        <div class="mx-auto" style="margin: 90px; width: 400px;">
            <div class="mx-auto" style="margin: 10px; padding: 40px;">
            <h1 class="display-1 font-weight-bold">Runway</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  <h4 class="text-center">Runwayは会員の方だけが知っている<br>
  ランニングやウォーキング、散歩コースの穴場を投稿するレビューサイトです。<br>
  自分が住んでいる場所の身近な運動できる場所を見つけることができます。<br>
  </h4>
</tbody>
<footer>
  	<div class='row bg-success'>
    	<div class='mx-auto'>
    		<p>Runway</p>
    	</div>
    </div>
</footer>