<%= form_with(model:[post, post_comment], local: false) do |f| %>
  <!--エラーメッセージ-->
  <div id="comments-error">
    <%= render 'layouts/error_message', model: f.object %>
  </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  コメントする
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">コメント内容</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力", required: true, class: "p-auto mx-auto d-block" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <%= f.submit "送信する", class: "btn btn-primary px-5 mx-auto"%>
      </div>
    </div>
  </div>
</div>
<% end %>